.hover-orange tbody tr:hover{
	background: #ffd54f !important;
}

.datepicker{
	z-index:9999 !important
}

.bg-gradient-warning {
	background-color: #f6c23e;
	background-image: linear-gradient(180deg,#f6c23e 10%,#dda20a 100%);
	background-size: cover;
	}
.bg-gradient-secondary {
	background-color: #6c757d;
	background-image: linear-gradient(180deg,#6c757d 10%,#807e7e 100%);
	background-size: cover;
	}
.row-reverse{
	flex-direction: row-reverse;
	}
.header{
	background-color: #ffffff;
	padding-left: 0px;
	padding-right: 0px;
}
/*Verdana*/
.font-verdana-xs_alias {font-size: 8px; font-family: verdana,arial,helvetica;}
.font-verdana-xs {font-size: 9px; font-family: verdana,arial,helvetica;}
.font-verdana-sm {font-size: 10px; font-family: verdana,arial,helvetica;}
.font-verdana {font-size: 11px; font-family: verdana,arial,helvetica;}
.font-verdana-bg {font-size: 12px; font-family: verdana,arial,helvetica;}
.font-verdana-bgt {font-size: 15px; font-family: verdana,arial,helvetica;}
/*Roboto*/
.font-roboto-8 {font-size: 8px; font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}
.font-roboto-9 {font-size: 9px; font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}
.font-roboto-10 {font-size: 10px; font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}
.font-roboto-11 {font-size: 11px; font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}
.font-roboto-12 {font-size: 12px; font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}
.font-roboto-13 {font-size: 13px; font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}
.font-roboto-14 {font-size: 14px; font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}
.font-roboto-15 {font-size: 15px; font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}
.font-roboto-16 {font-size: 16px; font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}
.font-roboto-17 {font-size: 17px; font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}
.font-roboto-18 {font-size: 18px; font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}
.font-roboto-19 {font-size: 19px; font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}
.font-roboto-20 {font-size: 20px; font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}

.abs-center {
	display: flex;
	justify-content: center;
}

/**SELECT2 CONTENIDO*/
.select2 + .select2-container .select2-selection__rendered {
    font-size: 11px;
  }

  .select2-results__option {
    font-size: 11px;
  }
/***/

/*Ondular los laterales*/
.tts-custom {
	--tts-shadow: 0 5px 10px rgb(0 0 0 / 20%);
	--tts-radius: 0.5em;
	--tts-size: 12px;
}

.logo-pi-resto {
	width: 400px;
	height:auto;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0.3;
}

.imagen-menu {
	width: 30px;
	height: auto;
	border-radius: 10%;
	overflow: hidden;
	opacity: 0.8;
}

.imagen-pi-resto {
	width: 500px;
	height: auto;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0.3;
}

.imagen-mesa-1 {
	overflow: hidden;
	opacity: 0.7;
}

.cell-with-image {
  width: 60px;
  height: 60px;
  position: relative;
}

.cell-with-image img {
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.imagen-callejxn {
	width: 500px;
	height:auto;
	border-radius: 10%;
	overflow: hidden;
	opacity: 0.3;
}

.input-group {
	height: 28px;
}
.input-group-prepend{
	height: 28px;
}
.group{
	height: 28px;
}

.body-table {
    background-color: #FFFFFF;
}

.input-sm {
	height: 28px;
}

.fa-asterisk {
	color: red;
	opacity: 0.8;
	font-size: 8px;
}

label {
	font-weight: bold;
	opacity: 1.0;
}

.label-show {
	font-weight: 700;
	opacity: 1.0;
}

.badge-with-padding {
	padding: 7px;
	font-weight: normal;
}

body {
    background-color: #FFFFFF;
}

#dataTable_filter input {
	width: 250px;
	height: 30px;
}
#dataTable_length select {
	width: 100px;
	height: 30px;
}
#dataTable_filter input::placeholder {
	font-size: 14px;
}
/* Estilos del botón del menú */
/*.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}*/

/* Estilos del contenedor del menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
	cursor: pointer;
}

/* Estilos del contenido del menú desplegable (oculto por defecto) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Estilos de los enlaces del menú desplegable */
.dropdown-content a {
    color: black;
    padding: 6px 10px;
    text-decoration: none;
    display: block;
}

/* Cambia el color del enlace al pasar el ratón */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Muestra el contenido del menú desplegable al pasar el ratón sobre el botón */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Cambia el color del botón al pasar el ratón */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropdown-content.right {
    right: 0;
    left: auto;
}

.sub-botones-producto {
    padding: 0px 0px;
    /*background-color: #ffffff;
    color: #000000;
    border: 1px solid #f2f2f2;
	border-top: none;
	border-down: none;
	border-left: none;
	border-right: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 0px;
    text-align: center;*/
}

/*.sub-botones-producto:hover {
    background-color: #f2f2f2;
	border-color: #ffffff;
	color: #ffffff;
	text-decoration: underline;
}

.sub-botones-producto a {
    color: #000;
}*/

.col-md-12 {
	padding: 0px 0px 0px 0px;
}

.borde-exterior {
    border: 1px solid red; /* Puedes ajustar el grosor y el color del borde según tus preferencias */
    padding: 10px; /* Ajusta el padding según sea necesario */
}
