table tbody tr:hover{
	/*background:rgba(143, 217, 240, 0.497)!important;*/
	background: #ffd54f !important;
	}
.datepicker{
	z-index:9999 !important
	}
	  
.bg-gradient-warning {
	background-color: #f6c23e;
	background-image: linear-gradient(180deg,#f6c23e 10%,#dda20a 100%);
	background-size: cover;
	}
.bg-gradient-secondary {
	background-color: #6c757d;
	background-image: linear-gradient(180deg,#6c757d 10%,#807e7e 100%);
	background-size: cover;
	}
.row-reverse{
	flex-direction: row-reverse;
	}
.header{
	background-color: #ffffff;
	padding-left: 0px;
	padding-right: 0px;
}
/*Verdana*/
.font-verdana-xs_alias {font-size: 8px; font-family: verdana,arial,helvetica;}
.font-verdana-xs {font-size: 9px; font-family: verdana,arial,helvetica;}
.font-verdana-sm {font-size: 10px; font-family: verdana,arial,helvetica;}
.font-verdana {font-size: 11px; font-family: verdana,arial,helvetica;}
.font-verdana-bg {font-size: 12px; font-family: verdana,arial,helvetica;}
.font-verdana-bgt {font-size: 15px; font-family: verdana,arial,helvetica;}
/*Roboto*/
.font-roboto-xs_alias {font-size: 8px; font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}
.font-roboto-xs {font-size: 9px; font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}
.font-roboto-sm {font-size: 10px; font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}
.font-roboto {font-size: 11px; font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}
.font-roboto-bg {font-size: 12px; font-family: font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}
.font-roboto-bgt {font-size: 15px; font-family: font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}

.abs-center {
	display: flex;
	justify-content: center;
	}
.select2-container {
	font-family: font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 12px;
	width: 150px;
	height: 30px;
	padding-right: 0px;
	}
/*Ondular los laterales*/
.tts-custom {
	--tts-shadow: 0 5px 10px rgb(0 0 0 / 20%);
	--tts-radius: 0.5em;
	--tts-size: 12px;
}
.input-group {
	height: 28px;
}
.input-group-prepend{
	height: 28px;
}
.group{
	height: 28px;
}

.body-table {
    background-color: #FFFFFF;
}

.input-sm {
	height: 28px;
}

.fa-asterisk {
	color: red;
	opacity: 0.8;
	font-size: 8px;
}

label {
	font-weight: bold;
	opacity: 1.0;
}

.label-show {
	font-weight: 700;
	opacity: 1.0;
}

.badge-with-padding {
	padding: 7px;
	font-weight: normal;
}

body {
    background-color: #FFFFFF;
}